@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --phantom-blue-gradient: linear-gradient(to bottom, #ECF9FF, #FFFFFF); /* define gradient variable */
  --phantom-blue: #00B3FF;
  --phantom-blue-darker: #1E5167;
}

html *
{
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
